{% extends "wiki/doctype/wiki_page/templates/base.html" %}

{%- block head_include %}
<link rel="stylesheet" href="/assets/frappe/css/hljs-night-owl.css">
{% endblock -%}

{% block content %}

{% macro container_attributes() -%}
id="page-{{ name or route | e }}" data-path="{{ pathname | e }}"
{%- if page_or_generator=="Generator" %}source-type="Generator" data-doctype="{{ doctype }}"{%- endif %}
{%- if source_content_type %}source-content-type="{{ source_content_type }}"{%- endif %}
{%- endmacro %}

{%- block wiki_navbar -%}
	{% include "wiki/doctype/wiki_page/templates/wiki_navbar.html" %}
{%- endblock -%}

<div class="row no-gutters flex-nowrap" {{ container_attributes() }}>
    <div class="sidebar-column">
        <aside class="doc-sidebar">
            {% block page_sidebar %}
            {% include "templates/includes/web_sidebar.html" %}
            {% endblock %}
        </aside>
    </div>

	<div class="main-column doc-main">
		<div class="wiki-page-content">
			{% block page_container %}
			<main>
					{%- block page_content -%}{%- endblock -%}
			</main>
			{% endblock %}
		</div>
	</div>
	{% block page_toc %}
	<!-- 2 if blocks to avoid the toc jerking thing on reload -->
	{% if page_toc_html %}
		<div class="page-toc d-none d-xl-block">
			{% if page_toc_html %}
				<div class='list-unstyled'>
					<h5>On this page</h5>
					<ul>
						{{ page_toc_html }}
					</ul>
				</div>
			{% endif %}
		</div>
		{% endif %}
	{% endblock %}
</div>

<script>
	frappe.ready(() => {
		set_wiki_language('{{name}}')
		
		frappe.setup_search('#search-container', '{{ docs_search_scope or "" }}');

		$('.web-footer .container')
			.removeClass('container')
			.addClass('container-fluid doc-container');
		
			
			$('.navbar-nav').append(`
			<li class="nav-item dropdown logged-in" id="website-post-login" data-label="website-post-login" style="">
				<a href="#" class="nav-link nav-avatar" data-toggle="dropdown" aria-expanded="false">
							<span class="user-image-wrapper">
								<span class="avatar avatar-medium filterable" title="Language:{{lang}}" data-filter="_assign,like,%null%">
								<div id = "lang_icon" class="avatar-frame standard-image" style="background-color: var(--green-avatar-bg); color: var(--green-avatar-color)">
										{{lang}}</div>
								</span>
							</span>
						</a>
						<ul class = "dropdown-menu dropdown-menu-right" id = "language_selector">
							<ul class="dropdown-menu dropdown-menu-right show" role="menu">
								<a id = "eng_lang" class="dropdown-item" href="#" rel="nofollow">English</a>
								<a id = "ar_lang" class="dropdown-item" href="#" rel="nofollow">عربي</a>
							</ul>
						</ul>
					</li>
						
						
						`)
			$("#eng_lang").click(()=>{
				change_lang($("#eng_lang").html())
			})
	
			$("#ar_lang").click(()=>{
				change_lang($("#ar_lang").html())
			})
			

		function is_editable_page(){
			let value = window.location.search ?  true :  false
			return value
		}
		function set_edit_control(){
			window.is_wiki_manger = '{{is_wiki_manager}}'
			if('{{is_wiki_manager}}'=='0'){
				
				//$('[data-tiptap-button="draftWikiPage"]').hide()
				//$('[data-tiptap-button="saveWikiPage"]').hide()
				
				window.wiki_language == "English" ? $('.btn.btn-primary.save-wiki-page-btn.btn-sm').html("Save Draft") : $('.btn.btn-primary.save-wiki-page-btn.btn-sm').html("حفظ المسودة")
				
				$('.btn.btn-primary.save-wiki-page-btn.btn-sm').off('click', 'saveWikiPage');
				$('.btn.btn-primary.save-wiki-page-btn.btn-sm').attr('data-tiptap-button', 'draftWikiPage')
				$('.btn.btn-primary.btn-sm.dropdown-toggle.dropdown-toggle-split').hide()
			}
			if(('{{is_wiki_manager}}'=='1')&& '{{can_approve}}' != "True"){
				
				window.wiki_language == "English" ? $('.btn.btn-primary.save-wiki-page-btn.btn-sm').html("Submit") : $('.btn.btn-primary.save-wiki-page-btn.btn-sm').html("إرسال")
				$('.btn.btn-primary.save-wiki-page-btn.btn-sm').attr('data-tiptap-button', 'draftWikiPage');
				$('.btn.btn-primary.save-wiki-page-btn.btn-sm').off('click', 'saveWikiPage');
				$('[data-tiptap-button="saveWikiPage"]').hide()
				$('.btn.btn-primary.save-wiki-page-btn.btn-sm').click(()=>{
					saveWikiPage(draft=false)
				})
				
			}	
			if('{{can_approve}}' == "True"){
				
				$('.btn.btn-primary.save-wiki-page-btn.btn-sm').hide()
				$('.btn.btn-primary.btn-sm.dropdown-toggle.dropdown-toggle-split').hide()
				$('.wiki-edit-control-btn').append(`<div class="btn-group">
					<div type="button" class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Actions
					</div>
					<div class="dropdown-menu" aria-labelledby="saveDropdownMenuButton">
						<a href="#" data-tiptap-button="draftWikiPage" id = "savedraft_" class="dropdown-item" >Save Draft</a>
						<a href="#"  id = "approvedraft_" class="dropdown-item" >Approve</a>
						<a href="#"  id = "rejectdraft_" class="dropdown-item">Reject</a>
					</div>
				</div>`)
				$('#savedraft_').click(()=>{
					saveWikiPage(draft=true)
				})
				$('#approvedraft_').click(()=>{
					frappe.confirm(`Are you sure you want to approve this wiki page patch?`,()=>{
						saveWikiPage(draft=false)
					},()=>{
						;
					})
				})
				$('#rejectdraft_').click(()=>{
					frappe.confirm(`Are you sure you want to reject this wiki page patch?`,()=>{
						saveWikiPage(draft=false,rejected=true)
					},()=>{
						;
					})
				})
			}
			if(window.existing_page_patch_url){
				$('.dropdown-item.edit-wiki-btn').off('click')
				$('.dropdown-item.add-wiki-btn').off('click')
				$('.dropdown-item.edit-wiki-btn').click(function(event){
					frappe.warn("Existing Wiki Page Patch Found!", 
							`An existing wiki page patch for <b>${window.existing_page_patch_title} </b> is pending  <b> ${window.existing_page_patch_approver}</b>
							 approval. 
							Kindly reach out to them to close out the existing patch.
							You can edit the existing wiki page patch by opening the patch`, ()=>{
							window.location.href = window.existing_page_patch_url
						}, "Open Existing Patch", is_minimizable=1)
				})
				$('.dropdown-item.edit-wiki-btn').css('background','red')

				$(".add-wiki-btn").on("click", () => {
					const groupName = $(".sidebar-item.active").data("group-name");
					$(
					  `.doc-sidebar .add-sidebar-page[data-group-name="${groupName}"]`,
					).trigger("click");
					window.location.reload()
					
				  });
			}

		}
		const saveWikiPage = (draft = false,rejected = false) => {
			
			const urlParams = new URLSearchParams(window.location.search);
			const isEmptyEditor = !!urlParams.get("newWiki");
		  
			const title = $(`.wiki-editor .ProseMirror h1`).html();
			// markdown=1 tag is needed for older wiki content to properly render
			// TODO: use editor.getHTML() instead of this when ueberdosis/tiptap#4044 is fixed
			const content = `<div markdown="1">${$(".editor-space .ProseMirror")
			  .html()
			  .replace(/<h1>.*?<\/h1>/, "")}</div>`;
		  
			frappe.call({
			  method: "one_wiki.overrides.wiki_page.update",
			  args: {
				name: $('[name="wiki-page-name"]').val(),
				message: `${isEmptyEditor ? "Created" : "Edited"} ${title}`,
				content,
				new: isEmptyEditor,
				new_sidebar_items: isEmptyEditor ? getSidebarItems() : "",
				title,
				draft,
				rejected,
				new_sidebar_group: isEmptyEditor ? urlParams.get("newWiki") : "",
				wiki_page_patch: urlParams.get("wikiPagePatch"),
			  },
			  callback: (r) => {
				// route back to the main page
				window.location.href = "/" + r.message.route;
			  },
			  freeze: true,
			});
		  };
		  
		function toggleEditor() {
			$(".wiki-content").toggleClass("hide");
			$(".wiki-page-meta").toggleClass("hide");
			$(".wiki-footer").toggleClass("hide");
			$(".wiki-edit-control-btn").toggleClass("hide");
			$(".page-toc").toggleClass("hide");
			$(".remove-sidebar-item").toggleClass("hide");
			$(".sidebar-item, .sidebar-group").toggleClass("disabled");
			$(".drop-icon").toggleClass("hide");
			$(".add-sidebar-page").toggleClass("hide");
			$(".add-sidebar-group, .sidebar-view-mode-btn").toggleClass("hide");
		  
			// avoid hiding editor when params ?editWiki or ?newWiki
			if ($(".from-markdown").is(":visible")) {
			  $(".wiki-editor").toggleClass("hide");
			  $(".wiki-options, .sidebar-edit-mode-btn").toggleClass("hide");
			} else {
			  const urlParams = new URLSearchParams(window.location.search);
			  if (urlParams.get("editWiki") || urlParams.get("newWiki"))
				$(".wiki-options, .sidebar-edit-mode-btn").toggleClass("hide");
		  
			  $(".from-markdown").toggleClass("hide");
			}
		  
			// sidebar item pointer switching
			if ($(".sidebar-edit-mode-btn").hasClass("hide")) {
			  $(".sidebar-group div, .sidebar-item, .sidebar-item a")
				.not(".remove-sidebar-item")
				.css("cursor", "grab");
			  $(".sidebar-item a").removeAttr("href");
			} else {
			  $(".sidebar-group div, .sidebar-item a").css("cursor", "pointer");
			  $(".sidebar-item").css("cursor", "default");
			  $(".sidebar-item").each(function () {
				$(this)
				  .find("a")
				  .attr("href", `/${$(this).data("route")}`);
			  });
			}
		  
			$(".wiki-title").toggleClass("hide");
		  }
		function set_wiki_language(wiki){
			
			frappe.call({
				method: "one_wiki.overrides.wiki_page.fetch_language",
				args: {
					wiki: wiki,	
				},
				callback: function(r) {
						
						r.message.language == 'English' ? switch_to_ar(false) : switch_to_ar(true)
						window.existing_page_patch_url = r.message.url
						window.existing_page_patch_approver = r.message.owner
						window.existing_page_patch_title = r.message.title
						window.wiki_language = r.message.language
						set_edit_control()
					}
			});
			
		}
		function change_navbar_lang(lang){
			let dict ;
			let sidebar_dict;
			let arr_dict = {'Contact Us':'اتصل بنا',"Clients":'عميل','Jobs':'وظائف',"Home":'الصفحة الرئيسية','About Us':'خدماتنا','Our Services':'خدماتنا'}
			let en_dict = {'خدماتنا':'About Us','عميل':'Clients','اتصل بنا':'Contact Us','وظائف':'Jobs','الصفحة الرئيسية':"Home",'خدماتنا':'Our Services'}
			let ar_sidebar_dict = {'View Sidebar':'مشاهدة الشريط الجانبي','Add Group':'أضف مجموعة','Edit Sidebar':'تحرير الشريط الجانبي'}
			let en_sidebar_dict = {'مشاهدة الشريط الجانبي':'View Sidebar','أضف مجموعة':'Add Group','تحرير الشريط الجانبي':'Edit Sidebar'}
			lang == 'ar' ? dict = arr_dict :  dict = en_dict
			lang == 'ar' ? sidebar_dict = ar_sidebar_dict :  sidebar_dict = en_sidebar_dict
			let navbarLinks = $(".navbar-link");
			let sidebar = $('.small')
			sidebar.each(function(index){
				$(this).html(sidebar_dict[$(this).html().trim()])
			})
			navbarLinks.each(function(index) {
				$(this).html(dict[$(this).html().trim()])

			})
			
			
		}
		function switch_to_ar(val){
			if(val){
				document.documentElement.dir = 'rtl' 
				document.documentElement.lang = 'ar'
				$("#ar_lang").css('text-align','right')
				$("#eng_lang").css('text-align','right')
				$('.ProseMirror').css('text-align','right')
				$(".btn.btn-secondary.discard-edit-btn.btn-sm").html('ينبذ')
				$('[data-tiptap-button="saveWikiPage"]').html('يحفظ')
				$('.btn.btn-primary.save-wiki-page-btn.btn-sm').html('يحفظ')
				$('.dropdown-item.edit-wiki-btn').html('تعديل الصفحة')
				$('.dropdown-item.edit-wiki-btn').css('text-align','right')
				$('.dropdown-item.add-wiki-btn').html("صفحة جديدة")
				$('.dropdown-item.add-wiki-btn').css('text-align','right')
				$('.dropdown-item.show-revisions').html('التنقيحات')
				$('.dropdown-item.show-revisions').css('text-align','right')
				$('[data-tiptap-button="draftWikiPage"]').html('مسودة')
				
				
				$('.btn.btn-primary.save-wiki-page-btn.btn-sm').html("يُقدِّم")
				
				
				$('#lang_icon').html('عربي')
				change_navbar_lang('ar')
				
			}
			else{
				document.documentElement.dir = 'ltr' 
				document.documentElement.lang = 'en' 
				$("#ar_lang").css('text-align','left')
				$("#eng_lang").css('text-align','left')
				$('.ProseMirror').css('text-align','left')
				$(".btn.btn-secondary.discard-edit-btn.btn-sm").html('Discard')
				$('[data-tiptap-button="saveWikiPage"]').html('Save')
				$('.btn.btn-primary.save-wiki-page-btn.btn-sm').html('Save')
				$('.dropdown-item.edit-wiki-btn').html('Edit Page')
				$('.dropdown-item.edit-wiki-btn').css('text-align','left')
				$('.dropdown-item.add-wiki-btn').html("New Page")
				$('.dropdown-item.add-wiki-btn').css('text-align','left')
				$('.dropdown-item.show-revisions').html('Revisions')
				$('.dropdown-item.show-revisions').css('text-align','left')
				$('[data-tiptap-button="draftWikiPage"]').html('Draft')
				$('#lang_icon').html('en')
				change_navbar_lang('en')
			}
		}			   
		function change_lang(lang){
			frappe.call({
				method: "one_wiki.overrides.wiki_page.change_language",
				args: {
					lang: lang,
					user: frappe.session.user,
				},
				freeze: true,
				callback: function(r) {
						
						lang == 'English' ? switch_to_ar(false) : switch_to_ar(true)
						
					}
			});
		}        				
	});
</script>

{% endblock %}
